<html>
  <head></head>
  <body>
    <p>
      <%= new_guess.biforcate_guess %>
      <br>
      <br>
      The SECRET NUMBER is <%= new_guess.number %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
